.formContainer {
  border-bottom: 1px solid #000; 
  margin-bottom: 30px;
  
  form {
    margin-bottom: 30px;

    .labels {
      display: flex;
      margin-bottom: 15px;
  
      label {
        display: block;
        flex-basis: 20%;
      }
    }

    .inputs {
      display: flex;

      .taskInput {
        display: block;
        flex-basis: 20%;

        div {

          input {
            padding: 10px;
          }
        }
      }

      button {
        height: fit-content;
        padding: 10px 15px 8px;
      }
    }
  }
}
