.filterByTime {
  margin-bottom: 15px;

  h4 {
    margin-bottom: 15px;
  }

  .labels {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;

    label {
      display: block;
      width: 110px;
    }
  }

  .inputRangeContainer {
    display: flex;
    justify-content: flex-start;

    .inputRange {
      width: 100px;
      margin-right: 10px;
        
        div {

          input {
            padding: 10px;
          }
        }
    }

    button {
      height: fit-content;
      padding: 10px 15px 8px;
    }
  }
}